.menu{
  display: block;
  margin: 20px;
}
nav > ul {
  left:auto!important;
  right: 0px;
}
button > a {
  color: inherit;
}

div > a {
  color: inherit!important;
}

.inputBox-button > button {
  background: rgba(200,200,200,0.3) !important;
  color: white;
  border:none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.AudioRecorder{
  display: table;
  margin: 0px auto;
  padding: 20px;
}

.radio-inline{
  padding: 0 10px;
  margin:auto;
}

#increase-font{
    position: relative;
    top: 20px;
    color: rgb(34,70,46);
    right: 10px;
    background-color: rgba(200,200,200,-7.7)!important;
}
#increase-font:focus{
  outline: none;
}

#increase-font:hover{
  color: white;
}

#decrease-font {
    position: relative;
    top: 16px;
    color: rgb(34,70,46);
    right: 5px;
    background-color: rgba(200,200,200,-7.7)!important;
}

audio{
    min-width: 500px;
    width:600px;
    margin: 0 auto;
    margin-top: 25px;
    display: table;
    padding: 15px;
}

.submit-audio-record >button{
  display: table;
  margin: 10px auto;
}

a > img{
  max-height: 60px;
}

.nav-left-container{
  margin-left: 0px!important;
}

body{
  background-color: rgba(200,200,200, 0.3) !important;
  color: rgb(9,70,137);
}

nav{
  background-color : rgb(9,70,137)!important;
  color: white!important;
}

.navbar-brand{
  color: white!important;
}
#mile-nav-text-small{
  color: white!important;
  font-size: x-small;
}

.navbar-text{
  padding-top: 10px!important;
  color: white;
}
.white-text{
  color: white !important;
}
.nav-item > a{
  color: white!important;
}
.font-obroto{
  font-family: Tinos, sans-serif!important;
}
.project-title-nav{
  font-size: 32px;
  font-weight: bold;
}

.language-container > h6 {
    margin: auto;
    display: table;
    padding-bottom: 15px;
}


.btn-outline-primary{
  border-color: rgb(9,70,137)!important;
  max-width: 400px;
  margin:20px auto;
  color:rgb(9,70,137);
  display: table;
}

.nav-link:hover{
  color: white! important;
}
.btn-outline-primary:hover{
  color: white!important;
  background-color: rgb(9,70,137)!important;
}

.menu-container{
  padding-top:100px!important;
}

.navbar-header{
  width: 250px;
}
.project-title-nav{
  width: 395px;
  padding-left: 15px;
}
.nav-left-container{
  width: 250px;
  padding-left: 120px;
}
.language-container{
  margin-top: 120px;
  width: 50%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(9,70,137)!important;
}

select{
  border-color:  rgb(9,70,137)!important;
}

slect:hover{
  background-color: white;
  color: rgb(9,70,137)!important;
}

button {
  padding: 10px 30px!important;
  margin: 10px;
  background: rgb(9,70,137);
  border: none;
  cursor: pointer;
  color: white;
}

button > a {
  text-decoration: none!important;
  color: inherit;
}

button:hover{
  background: white;
  color: rgb(9,70,137)!important;
  border: 1px solid rgb(9,70,137);
}

button > a:hover{
  color: rgb(9,70,137)!important;
}
.audo-play-menu-container{
  display: table;
  margin: auto;
}
.isPlaying{
  display: none!important;
}

.hasAudio{
  display: none!important;
}

.AudioRecorder-remove{
  display: table;
  margin: auto;
}

.sign-in-form{
  width: 600px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
}

.speaker-details-container {
    max-width: 600px;
    margin: auto;
    margin-top: -40px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#sign-in-button{
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid rgb(9,70,137);
}

.form-group{
  max-width: 400px;
  padding: 5px;
  margin: auto;
}
.form-btn-grp {
    margin: auto;
    display: table;
    padding-top: 20px;
}

.SpeakertermsAndContions{
  cursor:pointer;
}

.faq-ans{
  padding: 50px;
}

.btn-link{
  font-weight: bold;
}

video{
  width: 100%;
}

.AudioRecorder-remove{
  background-color: white;
  width: 90px;
  height: 90px;
  padding-bottom: 30px;
  border-radius: 55px;
  border:1px solid rgb(9,70,137);
}

.AudioRecorder-button   {
  background-color: white;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-top: 55px;
  border:1px solid rgb(9,70,137);
}

.isRecording{
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-top: 55px;
  border:1px solid rgb(9,70,137);
}

.audio-container{
  height: 180px;
}

.menu-main-btn{
  width: 400px;
}

.btn-language-select{
  margin:20px;
}

.btn-language-select {
    margin: 20px;
    display: table;
    margin: 50px auto;
    padding: 10px 50px;
}

.big-buttons-controller-data-record{
  width: 100%;
  height: 100px;
}

.utter-info-card{
    width: 100%;
    height: auto;
    border: 1px solid rgb(9,70,137);
    vertical-align: middle;
    padding: 15px;
}
.info-container{
  display: table;
  margin: auto;
  background-color:inherit!important;
  border: none;
  text-align: center;
}

.info-container > span{
  text-align: center;
}

.info-detail-label{
  font-weight: bold;
}
